.btn {
  padding: 5px;
  margin-top: 8px;
  display: inline-block;
  border: none;
  border-left: 5px solid rgb(128, 128, 128);
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #d0d0d0;
}

.btn:hover {
  border-color: rgb(255, 140, 0);
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 150px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
